parameters:
  cl_windmill.decorator.piece.class: CL\Windmill\Decorator\PieceDecorator
  cl_windmill.util.move_calculator.class: CL\Windmill\Util\LazyMoveCalculator
  cl_windmill.util.move_parser.class: CL\Windmill\Util\MoveParser
  cl_windmill.util.move_registry.class: CL\Windmill\Util\MoveRegistry
  cl_windmill.util.game_factory.class: CL\Windmill\Util\GameFactory
  cl_windmill.util.game_serializer.class: CL\Windmill\Util\GameSerializer
  cl_windmill.util.player_factory.class: CL\Windmill\Util\PlayerFactory
  cl_windmill.util.board_factory.class: CL\Windmill\Util\BoardFactory
  cl_windmill.util.square_factory.class: CL\Windmill\Util\SquareFactory
  cl_windmill.util.piece_factory.class: CL\Windmill\Util\PieceFactory
  cl_windmill.model.game.class: CL\Windmill\Model\Game\GameInterface
  cl_windmill.model.board.class: CL\Windmill\Model\Board\BoardInterface
  cl_windmill.model.player.class: CL\Windmill\Model\Player\PlayerInterface
  cl_windmill.model.piece.class: CL\Windmill\Model\Piece\PieceInterface
  cl_windmill.util.storage_adapter_registry.class: CL\Windmill\Util\StorageAdapterRegistry
  cl_windmill.util.storage_helper.class: CL\Windmill\Util\StorageHelper
  cl_windmill.storage_adapter.orm.class: CL\Windmill\Storage\Adapter\OrmAdapter
  cl_windmill.storage_adapter.file.class: CL\Windmill\Storage\Adapter\FileAdapter
  cl_windmill.template_registry.class: CL\Windmill\Util\TemplateRegistry
  cl_windmill.twig_extension.windmill.class: CL\Bundle\WindmillBundle\Twig\WindmillExtension

services:
  cl_windmill.decorator.piece:
    class: %cl_windmill.decorator.piece.class%
  cl_windmill.util.move_parser:
    class: %cl_windmill.util.move_parser.class%
    arguments:
      - @cl_windmill.util.move_calculator
      - @cl_windmill.decorator.piece
  cl_windmill.util.piece_factory:
    class: %cl_windmill.util.piece_factory.class%
  cl_windmill.util.square_factory:
    class: %cl_windmill.util.square_factory.class%
    arguments: [@cl_windmill.util.piece_factory]
  cl_windmill.util.player_factory:
    class: %cl_windmill.util.player_factory.class%
  cl_windmill.util.board_factory:
    class: %cl_windmill.util.board_factory.class%
    arguments: [@cl_windmill.util.square_factory]
  cl_windmill.util.game_factory:
    class: %cl_windmill.util.game_factory.class%
    arguments: [@cl_windmill.util.board_factory]
  cl_windmill.util.move_calculator:
    class: %cl_windmill.util.move_calculator.class%
    arguments:
      - @cl_windmill.util.move_registry
  cl_windmill.util.move_registry:
    class: %cl_windmill.util.move_registry.class%
    arguments:
      - %cl_windmill.move_registry.storage_method%
      - %cl_windmill.move_registry.storage_target%
  cl_windmill.util.game_serializer:
    class: %cl_windmill.util.game_serializer.class%
    arguments:
      - @jms_serializer
      - @cl_windmill.util.game_factory
  cl_windmill.util.storage_adapter_registry:
    class: %cl_windmill.util.storage_adapter_registry.class%
  cl_windmill.util.storage_helper:
    class: %cl_windmill.util.storage_helper.class%
    arguments:
      - @cl_windmill.util.storage_adapter_registry
      - %cl_windmill.storage.type%
  cl_windmill.storage_adapter.orm:
    class: %cl_windmill.storage_adapter.orm.class%
    arguments:
      - @doctrine
      - %cl_windmill.storage.game_class%
      - %cl_windmill.storage.game_state_class%
    tags:
      - { name: cl_windmill.storage_adapter, alias: orm }
  cl_windmill.template_registry:
    class: %cl_windmill.template_registry.class%
    arguments:
      - %cl_windmill.templates%
  cl_windmill.twig_extension.windmill:
    class: %cl_windmill.twig_extension.windmill.class%
    arguments:
      - @twig
      - @router
      - @cl_windmill.template_registry
      - @cl_windmill.util.move_calculator
      - %cl_windmill.move_route%
    tags:
      - { name: twig.extension }
