<table class="vs">
  <tr>
    <td class="player">{{ white_player.name }} <span class="icon-white"></span></td>
    <td>vs</td>
    <td class="player">{{ black_player.name }} <span class="icon-black"></span></td>
  </tr>
</table>
